* {
    box-sizing: border-box;
}

body {
    margin: 0;
}

#gallery-list {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    list-style: none;
    gap: 54px; 
}

.gallery-item {
    flex: 1 1 calc(33.333% - 54px); 
    margin: 5px;
    box-sizing: border-box; 
}

.gallery-link {
    display: block;
    width: 100%;
}

.gallery-image {
    width: 100%;
    height: auto;
}
