* {
    box-sizing: border-box;
}

body {
    margin: 156px;
    display: flex;
    justify-content: center;
}



.gallery-list {
    display: flex;
    justify-content: center;
    max-width: 1800px;
    flex-wrap: wrap;
    list-style: none;
    gap: 24px;
}